<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Exito</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <h1>Contribuyente guardado con éxito</h1>
    <div class="row justify-content-md-center">
        <form class="col-6" method="post" th:action="@{/inicio}">
            <div class="row justify-content-center">
                <input class="col-5 m-3 btn btn-info" type="submit" value="Regresar">
            </div>
        </form>
    </div>
</body>
</html>
